
.cart-wrapper {
    min-height: calc(100vh - 240px); 
}
.cart-table  {
    margin: 20px auto;
    border: $borderColor;
    border-spacing: 3px;
    border-collapse: collapse;
    text-align: center;
    width: 90%;
}
.cart-table td, .cart-table th{
    border: $borderColor;
}
.cart-table td {
    height: 120px;
}
.cart-table i{
  @include styleButton(12px);
  margin: 5px;
&:hover {
    background-color: $thematColor;
    color: white;
}
}
.product-img img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    cursor: pointer;
}
.product-name a {
    @include styleAnchor(12px);
&:hover {
    @include hoverAnchor;
}
}
.cart-hidden {
    visibility: hidden
}
.quantity-field {
    & input {
        font-size: 16px;
        border: $borderColor;
        border-radius: 4px;
        width: 80px;
        height: 30px;
    }
}

.cart-table .head-team {
    height: 40px;
    background-color: $backgroundColor;
}
.cart-table .head-team th {
    font-weight: normal;
}
.product-total, .product-count {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    height: 40px;
    width: 365px;
    border: $borderColor;
    background-color: $backgroundColor;
    border-radius: 4px;
}
.product-total {
    margin-bottom: 30px;
}
.product-count {
    margin-top: 30px;
}
.product-total h5, .product-count h5 {
    font-size: 16px;
    line-height: 40px;
}
.checkout-page  {
    margin-top: 15px;
    text-align: center;
    display: block;
    margin-bottom: 100px;
}
.checkout-page a  {
    @include styleAnchor(12px);
    box-shadow: 0 1px 0 $thematColor;
    cursor: pointer;
    margin-left: 20px;
&:hover {
    @include hoverAnchor;
    }
}
.cart-container-go-back {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.cart-container-go-back a {
    @include styleAnchor(12px);
    box-shadow: 0 1px 0 $thematColor;
    cursor: pointer;
    margin-left: 20px;
&:hover {
    @include hoverAnchor;
    }
}
.cart-banner-field .banner-field {
   display: flex;
   justify-content: center;
}
.cart-banner-field .lds-dual-ring {
    margin-top: 15px;
}
.title:hover {
    cursor: pointer;
}