.single-container {
  display: flex;
  margin-bottom: 30px;
  min-height: calc(100vh - 260px);
}
.single-img {
    border: $borderColor;
    margin:10px 140px;
   height: 250px;
   width: 250px;
}
.single-img img {
    object-fit: contain;
   width: 100%;
   height: 100%;
}
.single-right-content{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.single-cart-bar a, .single-cart-bar i {
    margin: 10px;
   @include styleButton(15px);
  }
  .single-cart-bar a:hover, .single-cart-bar i:hover{
    @include hoverButton;
  }
  .single-cart-bar {
      margin: 10px auto;
  }
  .single-right-content p {
    text-indent: 10px;
    height: 180px;
    width: 100%;
    margin-top: 20px;
    overflow: auto;
  }
  .single-discription {
    margin-right: 20px;
  }
  .single-short {
    margin-right: 20px;
    word-wrap: break-word
  }
  .single-go-back {
    @include styleButton(18px);
    margin: 10px auto;
&:hover {
  color: $thematColor;
}
  }
  .single-img {
    position: relative;
  }
  .single-img .cart-status {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:10px;
    right:10px;
    left: 10px;
  }
  

