.unit-list-container {
    display: flex;
    height: 200px;
    margin-bottom: 10px;
    width: 100%;
  }
  .unit-list-img {
      border: $borderColor;
      margin:10px 50px;
     height: 200px;
     width: 200px;
     border-radius: 4px;
  }
  .unit-list-img img {
      object-fit: contain;
     width: 100%;
     height: 100%;
     cursor: pointer;
  }
  .unit-list-right-content{
      height: 200px;
      width: 100%;
      margin: 20px 10px;
      display: flex;
      flex-direction: column;
  }
 .unit-list-right-content h2, .unit-list-right-content h4 {
   color: #5e5e5e;
 }
 .unit-list-right-content .price {
     margin: 0;
 }
 .unit-list-discription {
    padding-top: 5px;
     overflow: hidden;
     height: 100px;
     width: 80%;
 } 
 .unit-list-discription span {
    font-size: 14px;
    line-height: 1.5;
 }
  .unit-list-cart-bar a, .unit-list-cart-bar i {
      @include styleButton(15px);
      margin-right: 5px;
      background-color: $backgroundColor;
      box-shadow: 3px 3px 1px rgb(149, 148, 148);
    }
    .unit-list-cart-bar a:hover, .unit-list-cart-bar i:hover{
     @include hoverButtonCard;
    }
    .unit-list-img {
      position: relative;
    }
    .unit-list-img .cart-status {
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 30px;
      top:10px;
      right:10px;
      left: 10px;
    }
    .unit-list-cart-bar {
        display: none;
    }
    .unit-list-img:hover .unit-list-cart-bar {
        display: flex;
          justify-content: center;
          position: absolute;
          top:120px;
          right:0px;
          left: 87px;
      }
      .unit-list-price {
        padding: 5px;
        color: $thematColor;
        font-weight: bold;
      }